@font-face {
  font-family: turretRoadRegular;
  src: url(assets/fonts/Turret_Road/TurretRoad-Regular.ttf);
}

@font-face {
  font-family: turretRoadBold;
  src: url(assets/fonts/Turret_Road/TurretRoad-Bold.ttf);
}
* {
  --background-color: #aeaeae;
  --board-color: #ffffff;
  --font-color: #000000;
  --hover-color: #e2e2e2;
  --ship-color: #000000;
  --hit-color: #ff5656;
  --miss-color: #85ff83;

  --radius: 10px;
  --grid-border-thickness: 2px;

  box-sizing: border-box;
}

html,
body {
  color: var(--font-color);
  font-family: turretRoadRegular;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

h1 {
  font-size: 70px;
  margin-top: 50px;
}

h2 {
  font-size: 40px;
}

#board-container {
  display: flex;
  gap: 40px;
}

#player-side,
#hostile-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.grid-container {
  background-color: var(--board-color);
  display: flex;
  flex-direction: column;
  border-top: var(--grid-border-thickness) solid black;
  border-right: var(--grid-border-thickness) solid black;
}

.grid-row-container {
  display: flex;
  flex-direction: row;
}

.grid-square {
  border-left: var(--grid-border-thickness) solid rgb(0, 0, 0);
  border-bottom: var(--grid-border-thickness) solid black;
  width: 40px;
  height: 40px;
}

.hostile-side.clear:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.hit {
  background-color: var(--hit-color);
}

.miss {
  background-color: var(--miss-color);
}

.ship {
  background-color: var(--ship-color);
}
